/*Kyle Hovey CSS Stylesheet*/

/*Color Scheme: Light Navy: #021F59, Navy: #011640,
beigeish: #F2C185, Dark red:#590202, Red: #A60A0A*/

nav ul{
	margin:0;
	padding: 0;
	background-color: #011640;
	text-align:center; 
}

nav li{
	display:inline-block;
	list-style: none;
}
 nav a{
 	display:inline-block;
 	text-align: center;
 	text-decoration: none;
 	text-transform: uppercase;
 	font-family: Verdana, sans-serif;
 	font-weight: bold;
 	color:#F2C185;
 	background-color:#A60A0A;
 	width:125px;
 	padding: 5px;
 	margin:5px;
 	border:outset 3px #F2C185;
 }

 a:hover {
 	border:inset 3px #F2C185;
 }

body{
	background-color: #590202;
	margin: 0;
	padding:0;
	height:100%;
}

 header{
 	background-color: #011640;
 	text-align:center;
 	font-family: Verdana, sans-serif;
 	font-weight: bolder;
 	margin:auto;
 	margin-top: 5px;
 	width:80%;
 	border: 5px solid #F2C185;
 }

 h1{
 	display: inline-block;
 	border:outset 5px #F2C185;
 	border-radius: 25px;
 	padding:10px;
 	background-color: #021F59;
 	color:#FFFFFF;
 	margin-left:10px;
 	margin-right:10px;
 }

 h2{
 	color:#FFFFFF;
 	margin-top:-10px;
 	padding: 20px;
 }
img{
	max-width: 100%;
}

footer{
	background-color:#F2C185;
	padding:20px;
	margin-top:50px;
	text-align: center;
	border-top: solid 5px #021F59;
	height:40px;
	clear: both;
}

 .vote{
 	float:right;
 	width:20%;
 	font-family:Arial,sans-serif;
 	text-align:center;
 	color:#FFFFFF;
 	font-size: 18px;
 	margin-bottom: 20px;
}

 .main {
 width: 75%;
 background-color: #FFFFFF;
 margin-top:10px;
 padding:10px;
 font-family:Arial, sans-serif;
 font-size: 14px;
 border-right: 3px solid #021F59;
 border-top: 3px solid #021F59;
 border-bottom: 3px solid #021F59;
 }
.text{
	max-width: 600px;
	display: block;
	margin:auto;
	margin-top:20px;
}
 #john{
 	display:block; 
 	margin:auto; 
 	max-width:100%; 
 	border:double 5px #A60A0A;
 }

 .pollingLocation {
 	text-align: center;
 	font-size:14px;
 	display: inline-block;
 	color:#FFFFFF;
 	text-decoration:none;
 	background-color:#021F59;
 	border: outset 3px #F2C185;
 	padding:2px;
 }

 .members{
 	background-color:#FFFFFF;
 	border: 3px solid #021F59;
 	display:block;
 	margin: auto;
 	width: 50%;
 	min-width: 200px;
 	text-align:center;
 	padding: 20px;
 	margin-top: 20px;
 }